# Node.js modules
node_modules/

# Compiled output
out/

# Build artifacts
*.vsix

# Coverage reports
coverage/

# VS Code specific files
.vscode-test/
.vscode-test-web/
.vscode/extensions.json
.vscode/launch.json
.vscode/tasks.json