.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/vitest.config.ts
**/jsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
coverage/**
.editorconfig
CONTRIBUTING.mddocs/**