.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/vitest.config.ts
**/jsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
coverage/**
out/test/**
.editorconfig
CONTRIBUTING.md
docs/**
node_modules/**
*.vsix
build.bat
DOCUMENTATION.md
package-lock.json
pets.png