.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
coverage/**
docs/**
.git/**
.gitignore
.gitattributes
.editorconfig
.eslintrc.json
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/jsconfig.json
**/.eslintrc.json
**/vitest.config.ts
**/webpack.config.js
**/.vscode-test.*
**/*.map
**/*.ts
*.vsix
build.bat
CONTRIBUTING.md
DOCUMENTATION.md
package-lock.json
pets.png
npm-debug.log